@model NotebookStore.Entities.Model
@{
  ViewData["Title"] = "Model";
}

<div class="text-center">
  <h1 class="display-4">Model</h1>
  @foreach (var model1 in ViewBag.Models)
  {
    <div class="card">
      <p>
        <strong>@model1.Name</strong>
      </p>
    </div>
  }
</div>
